.page__container-padding {
  padding: 0 48px 0;
  margin: 0 auto;
}

@media screen and (max-width: 860px) {
  .page__container-padding {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 650px) {
  .page__container-padding {
    padding-right: 16px;
    padding-left: 16px;
  }
}
